@use "./extras/mixinsfunc";
@import "./extras/variables";
@import "./extras/animaciones.scss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    min-height: 100vh;
}

.btn_principal {
    padding: 12px 15px;
    text-transform: uppercase;
    border: solid 1px transparent;
    border-radius: 10px;
    cursor: pointer;
    background-color: $DARK_BLUE;
    color: $WHITE;
    font-size: 1.2rem;
    transition: all 0.2s linear;

    &:hover {
        border: solid 1px $DARK_BLUE;
        background-color: $GRAY;
        color: $DARK_BLUE;
    }
}

.titular {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1.5rem auto;
    color: $DARK_BLUE;
}

.contenedor__form {
    @include mixinsfunc.flexBox(center, 2rem);
    background-color: $GRAY;
    border: solid 1px $DARK_BLUE;
    border-radius: 20px;
    padding: 2rem 3rem;
    flex-direction: column;

    .formulario {
        width: 80%;
        @include mixinsfunc.flexBox(center, 1.5rem);
        flex-direction: column;

        .input__caja {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            label {
                color: $DARK_BLUE;
                font-size: 1.3rem;
            }

            input {
                width: 100%;
                padding: 10px;
                border: none;
                outline: none;
                background: transparent;
                border-bottom: solid 3px $DARK_BLUE;
                color: $DARK_BLUE;
                font-size: 1.2rem;
            }
        }
    }

    .mensaje {
        text-align: center;
        font-size: 14px;
    }
}

.Pagina__Inicio {
    @include mixinsfunc.flexBox(center, 0);

    .lado__izquierdo {
        flex: 1;
        text-align: center;
        padding: 1rem;

        h1 {
            text-transform: uppercase;
            font-size: 2.5rem;
            color: $DARK_BLUE;
        }

        h2 {
            text-transform: uppercase;
            margin: 1rem auto;
            font-size: 1.5rem;
            color: $BLUE;
        }

        .caja_btn_nav {
            margin-top: 1.5rem;
            @include mixinsfunc.flexBox(center, 1.5rem);
            height: 100px;

            a {
                overflow: visible;
            }

            .btn_principal {
                &:hover {
                    transform: translateY(-5px);
                }
            }
        }
    }

    .lado__derecho {
        flex: 1;
        min-height: 100vh;
        overflow: hidden;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 0;
        column-gap: 0;

        @for $i from 1 through 4 {
            .pic_#{$i} {
                overflow: hidden;
                animation: cambioFondo 10s linear infinite;

                &:hover img {
                    opacity: 0.8;
                    transform: scale(1.1);
                }

                img {
                    @include mixinsfunc.img();
                    transition: all 0.3s linear;
                }

                @if $i % 2 == 0 {
                    animation-direction: reverse;
                }
            }
        }
    }
}

.Login,
.SignUp {
    position: relative;
    min-height: 100vh;
    @include mixinsfunc.flexBox(center, 0);

    img {
        position: absolute;
        width: 400px;

        &:nth-child(1) {
            left: 5px;
            animation: apareciendoIzq 1s ease-in-out;
        }

        &:nth-child(2) {
            right: 5px;
            animation: apareciendoDer 1s ease-in-out;
        }
    }
}

/* ESTILOS DEL FORO */

.foro__main {
    min-height: 100vh;

    .header {
        @include mixinsfunc.flexBox(space-between, 0);
        padding: 1rem 2rem;
        background-color: $DARK_BLUE;
        overflow: visible;

        .logo {
            width: 15%;
            height: 15%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            picture {
                width: 50%;
                height: 100%;

                img {
                    @include mixinsfunc.img();
                }
            }

            span {
                text-transform: uppercase;
                color: $WHITE;
            }
        }

        .usuario {
            width: auto;
            height: auto;
            position: relative;
            overflow: visible;

            .img {
                max-width: 120px;
                max-height: 120px;
                overflow: hidden;
                background-color: $BLUE;
                border: solid 2px $GRAY_BLUE;
                border-radius: 50%;
                cursor: pointer;

                img {
                    @include mixinsfunc.img();
                }
            }

            .drop_down_menu {
                opacity: 0;
                transform: translateY(-10px);
                position: absolute;
                max-width: 200px;
                height: auto;
                padding: 1rem 2rem;
                right: 2px;
                bottom: -90px;
                background-color: $GRAY_BLUE;
                border-radius: 20px;
                transition: all 0.2s linear;
                z-index: -100;

                &.active {
                    opacity: 1;
                    transform: translateY(0);
                    z-index: 100;
                }

                button {
                    border: solid 1px transparent;
                    width: 100%;
                    cursor: pointer;
                    background-color: transparent;
                    color: $DARK_BLUE;
                    font-size: 1em;
                    transition: all 0.2s linear;

                    &:hover {
                        border-bottom: solid 1px $WHITE;
                        color: $WHITE;
                    }
                }
            }
        }
    }
}
